services:
  db:
    image: postgres:15
    container_name: copfit-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: copfit
      POSTGRES_PASSWORD: "copfit"
      POSTGRES_DB: copfit
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro

    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
